<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Contact Form - New Entry</title>
<style>
table, th, td{
border: 1px solid #cccccc;
border-collapse: collapse;
}
th, td {
  padding: 5px 10px;
}
</style>
</head>
<body>
    <table style="border-spacing: 10px;">
        <tr>
            <td><b>Reference ID</b></td>
            <td>{SENDMAILID}</td>
        </tr>
        <tr>
            <td><b>Name</b></td>
            <td>{SENDMAILNAME}</td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td>{SENDMAILEMAIL}</td>
        </tr>
        <tr>
            <td><b>Phone</b></td>
            <td>{SENDMAILPHONE}</td>
        </tr>
        <tr>
            <td><b>Message</b></td>
            <td>{SENDMAILMESSAGE}</td> 
        </tr>
    </table>
    <br/>
    <p>&copy; Copyrights 2022 | Contact Form | All Rights Reserved</p>
    <br/>
</body>
</html>
