body{
background: #000000 !important;
}
.jumbotron-header img{
width: 75px !important;
}
label{
color: #ffcd00 !important;
}
.btn-primary{
background: #ffcd00 !important;
color: #000000 !important;
border: 1px solid #ffcd00 !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus{
background: #000000 !important;
color: #ffcd00 !important;
border: 1px solid #000000 !important;
}